<div id="main">

  <h1>MY PROJECTS</h1>

  <h2>
    {{#if isLoggedIn}}
      Hi,{{name}}! &nbsp; &nbsp;
    {{/if}}</h2>

  <div class="container">
    {{#if isAdmin}}
      <div><a href="/projects/new" id="new" class="btn btn-link">NEW PROJECT</a></div>
    {{/if}}

    <div class="columns">
      {{#if dbError}}
        <div>
          Sorry, there was a problem with the database:<br />
          {{theError}}
        </div>
      {{else}}
        {{#each projects}}
          <div class="column col-3 col-md-6 col-sm-12">
            <div class="card">
            <a href="/skills/project/{{pid}}">
              <div class="card-image">
                <img
                  src="{{pimgURL}}"
                  alt="{{pimgURL}}"
                  class="img-responsive"
                />
              </div>
              </a>
              <div class="card-header">
                <div class="card-title h3">{{pname}}</div>
                <div class="card-subtitle text-black">{{ptype}}</div>
                <div class="card-subtitle text-black">{{pdesc}}</div>
              </div>
              
              <div class="card-footer">
                {{#if ../isAdmin}}
                <div>
                  <a href="/projects/update/{{pid}}">Modify</a>
                  <a href="/projects/delete/{{pid}}" class="important" >Delete</a>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>