<div id="main">
  <div class="projects-by-skill">
    <h1>Skills for Project</h1>
    {{#if isLoggedIn}}
      Hi,
      {{name}}!
    {{/if}}
    <br /><br />
    {{#if dbError}}
      <p>Error: {{theError}}</p>
    {{else}}
      {{#if skills.length}}
        <h2>Skill for this project:</h2>
        <ul>
          {{#each skills}}
            <li>{{this.sname}}</li>
          {{/each}}
        </ul>
      {{else}}
        <p>No skill found for this project.</p>
      {{/if}}
    {{/if}}
  </div>
</div>