<div id="main">
  <div class="userSystem">
    <h1>User management system</h1>
    <h2>
      {{#if isLoggedIn}}
        Hi,
        {{name}}!
      {{/if}}
    </h2>
    <br />
    <div id="userContainer" class="container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>isAdmin</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr>
              <form method="POST" action="/user-manager/{{uid}}">
                <td>{{uid}}</td>

                <td><input
                    type="text"
                    id="uname"
                    name="uname"
                    value="{{uname}}"
                    required
                  /></td>
                <td>{{username}}</td>
                <td>{{password}}</td>
                <td>
                  <input
                    type="text"
                    id="isAdmin"
                    name="isAdmin"
                    value="{{isAdmin}}"
                    required
                  />
                </td>
                <td>
                  <input type="submit" value="Modify" />
                </td>
              </form>

              <td>
                <a href="/user-manager/delete/{{uid}}" class="important">Delete
                </a>
              </td>

            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>

</div>